/*** Mixins ***/
/*** Colors ***/
/*** Global ***/
.inline-block {
  display: inline-block; }

.block {
  display: block; }

.relative {
  position: relative; }

.width-100 {
  width: 100%; }

.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.break-word {
  word-wrap: break-word; }

.p-all {
  padding: 1rem !important; }

.p-2-all {
  padding: 2rem !important; }

.p-l-l {
  padding-left: 1.5rem !important; }

.p-r-l {
  padding-right: 1.5rem !important; }

.p-b-l {
  padding-bottom: 1.5rem !important; }

.p-t-l {
  padding-top: 1.5rem !important; }

.p-l {
  padding-left: 1rem !important; }

.p-r {
  padding-right: 1rem !important; }

.p-b {
  padding-bottom: 1rem !important; }

.p-t {
  padding-top: 1rem !important; }

.p-l-md {
  padding-left: 0.5rem !important; }

.p-r-md {
  padding-right: 0.5rem !important; }

.p-b-md {
  padding-bottom: 0.5rem !important; }

.p-t-md {
  padding-top: 0.5rem !important; }

.p-none {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0; }

.p-t-none {
  padding-top: 0 !important; }

.p-l-none {
  padding-left: 0 !important; }

.p-r-none {
  padding-right: 0 !important; }

.p-b-none {
  padding-bottom: 0 !important; }

.p-l-3lg {
  padding-left: 6rem !important; }

.p-r-3lg {
  padding-right: 6rem !important; }

.p-b-3lg {
  padding-bottom: 6rem !important; }

.p-t-3lg {
  padding-top: 6rem !important; }

.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.m-auto {
  margin: auto; }

.m-l-md {
  margin-left: .5rem; }

.m-r-md {
  margin-right: .5rem; }

.m-b-md {
  margin-bottom: .5rem; }

.m-t-md {
  margin-top: .5rem; }

.m-l-s {
  margin-left: 0.3rem !important; }

.m-r-s {
  margin-right: 0.3rem !important; }

.m-b-s {
  margin-bottom: 0.3rem !important; }

.m-t-s {
  margin-top: 0.3rem !important; }

.m-l {
  margin-left: 1rem; }

.m-r {
  margin-right: 1rem; }

.m-b {
  margin-bottom: 1rem; }

.m-t {
  margin-top: 1rem; }

.m-l-lg {
  margin-left: 2rem; }

.m-r-lg {
  margin-right: 2rem; }

.m-b-lg {
  margin-bottom: 2rem; }

.m-t-lg {
  margin-top: 2rem; }

.m-none {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0; }

.m-b-none {
  margin-bottom: 0 !important; }

.m-t-none {
  margin-top: 0 !important; }

.m-left-none {
  margin-left: 0 !important; }

.m-l-none {
  margin-left: 0 !important; }

.m-r-none {
  margin-right: 0 !important; }

@media only screen and (max-width: 600px) {
  .no-margin-xs {
    margin: 0 !important; }
  .m-t-size-xs {
    margin-top: 1rem !important; }
  .m-t-md-size-xs {
    margin-top: 0.6rem !important; }
  .m-t-lg-size-xs {
    margin-top: 2rem !important; }
  .m-b-size-xs {
    margin-bottom: 1rem !important; }
  .m-b-md-size-xs {
    margin-bottom: 0.6rem !important; }
  .m-b-lg-size-xs {
    margin-bottom: 2rem !important; }
  .no-padding-xs {
    padding: 0 !important; } }

@media only screen and (max-width: 992px) {
  .no-margin-md {
    margin: 0 !important; }
  .m-t-size-md {
    margin-top: 1rem; }
  .m-t-lg-size-md {
    margin-top: 2rem; }
  .no-padding-md {
    padding: 0 !important; } }

.radius {
  border-radius: 2px; }

.no-border {
  border: 0 !important; }

.default-cursor {
  cursor: default; }

.pointer-cursor {
  cursor: pointer; }

.btn-radius-group {
  display: inline-block; }
  .btn-radius-group .btn-radius, .btn-radius-group .btn-radius-primary, .btn-radius-group .btn-radius-secondary {
    border-radius: 0;
    border-left-width: 0;
    float: left; }
    .btn-radius-group .btn-radius.btn-radius-xs, .btn-radius-group .btn-radius-xs.btn-radius-primary, .btn-radius-group .btn-radius-xs.btn-radius-secondary {
      border-radius: 0;
      border-left-width: 0; }
    .btn-radius-group .btn-radius.btn-radius-xs:first-child, .btn-radius-group .btn-radius-xs.btn-radius-primary:first-child, .btn-radius-group .btn-radius-xs.btn-radius-secondary:first-child {
      border-left-width: 1px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem; }
    .btn-radius-group .btn-radius.btn-radius-xs:last-child, .btn-radius-group .btn-radius-xs.btn-radius-primary:last-child, .btn-radius-group .btn-radius-xs.btn-radius-secondary:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem; }
    .btn-radius-group .btn-radius:first-child, .btn-radius-group .btn-radius-primary:first-child, .btn-radius-group .btn-radius-secondary:first-child {
      border-left-width: 1px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1.5rem;
      border-top-left-radius: 1.5rem; }
    .btn-radius-group .btn-radius:last-child, .btn-radius-group .btn-radius-primary:last-child, .btn-radius-group .btn-radius-secondary:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 1.5rem;
      border-top-right-radius: 1.5rem; }

.btn-radius, .btn-radius-primary, .btn-radius-secondary {
  display: inline-block;
  background: none transparent;
  border-width: 1px;
  border-style: solid;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  border-radius: 1.5rem;
  text-transform: uppercase; }
  .btn-radius.btn-radius-xs, .btn-radius-xs.btn-radius-primary, .btn-radius-xs.btn-radius-secondary {
    font-size: .8rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem;
    border-radius: 1rem; }
  .btn-radius:focus, .btn-radius-primary:focus, .btn-radius-secondary:focus, .btn-radius:hover, .btn-radius-primary:hover, .btn-radius-secondary:hover {
    background: #fafafa; }
  .btn-radius:disabled, .btn-radius-primary:disabled, .btn-radius-secondary:disabled {
    opacity: .4; }
    .btn-radius:disabled:hover, .btn-radius-primary:disabled:hover, .btn-radius-secondary:disabled:hover {
      background: none transparent; }
  .btn-radius.btn-floating, .btn-floating.btn-radius-primary, .btn-floating.btn-radius-secondary {
    background: none;
    box-shadow: none; }
    .btn-radius.btn-floating:hover, .btn-floating.btn-radius-primary:hover, .btn-floating.btn-radius-secondary:hover {
      color: #e0e0e0;
      background: #fafafa; }

.btn-radius-primary {
  border-color: #009688;
  color: #009688; }

.btn-radius-secondary {
  border-color: #eeeeee;
  color: #e0e0e0; }
  .btn-radius-secondary.active {
    border-color: #f5f5f5;
    color: #eeeeee; }
    .btn-radius-secondary.active:hover {
      background: none transparent;
      cursor: default; }

h1, .size-h1 {
  font-size: 2.5rem; }

h2, .size-h2 {
  font-size: 2rem; }

h3, .size-h3 {
  font-size: 1.75rem; }

h4, .size-h4 {
  font-size: 1.40rem; }

h5, .size-h5 {
  font-size: 1.2rem; }

h6, .size-h6 {
  font-size: 1rem; }

.size-small {
  font-size: 0.8rem;
  line-height: 100%; }
  @media only screen and (max-width: 600px) {
    .size-small {
      font-size: .9rem; } }

.size-medium {
  font-size: 0.9rem; }

.regular {
  font-weight: 400; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 200; }

.bold {
  font-weight: 500; }

.extrabold {
  font-weight: 600; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-uppercase {
  text-transform: uppercase !important; }

@media only screen and (max-width: 600px) {
  .center-align-xs {
    text-align: center !important; }
  .left-align-xs {
    text-align: left !important; } }

@media only screen and (max-width: 992px) {
  .center-align-md {
    text-align: center !important; }
  .left-align-md {
    text-align: left !important; } }

.separator {
  width: 100%;
  height: 1px; }
