$color-brand: (
        "lighten-5":  #e0f2f1,
        "lighten-4":  #b2dfdb,
        "lighten-3":  #80cbc4,
        "lighten-2":  #4db6ac,
        "lighten-1":  #26a69a,
        "base":       #009688,
        "darken-1":   #00897b,
        "darken-2":   #00796b,
        "darken-3":   #00695c,
        "darken-4":   #004d40,
        "accent-1":    #a7ffeb,
        "accent-2":    #64ffda,
        "accent-3":    #1de9b6,
        "accent-4":    #00bfa5
);

$color-secondary: (
        "lighten-5":  #fafafa,
        "lighten-4":  #f5f5f5,
        "lighten-3":  #eeeeee,
        "lighten-2":  #e0e0e0,
        "lighten-1":  #bdbdbd,
        "base":       #9e9e9e,
        "darken-1":   #757575,
        "darken-2":   #616161,
        "darken-3":   #424242,
        "darken-4":   #212121
);

$color-warning: (
        "lighten-5":  #fff8e1,
        "lighten-4":  #ffecb3,
        "lighten-3":  #ffe082,
        "lighten-2":  #ffd54f,
        "lighten-1":  #ffca28,
        "base":       #ffc107,
        "darken-1":   #ffb300,
        "darken-2":   #ffa000,
        "darken-3":   #ff8f00,
        "darken-4":   #ff6f00,
        "accent-1":    #ffe57f,
        "accent-2":    #ffd740,
        "accent-3":    #ffc400,
        "accent-4":    #ffab00
);

$color-danger: (
        "lighten-5":  #fdeaeb,
        "lighten-4":  #f8c1c3,
        "lighten-3":  #f3989b,
        "lighten-2":  #ee6e73,
        "lighten-1":  #ea454b,
        "base":       #e51c23,
        "darken-1":   #d0181e,
        "darken-2":   #b9151b,
        "darken-3":   #a21318,
        "darken-4":   #8b1014,
);

$color-info: (
        "lighten-5":  #e0f7fa,
        "lighten-4":  #b2ebf2,
        "lighten-3":  #80deea,
        "lighten-2":  #4dd0e1,
        "lighten-1":  #26c6da,
        "base":       #00bcd4,
        "darken-1":   #00acc1,
        "darken-2":   #0097a7,
        "darken-3":   #00838f,
        "darken-4":   #006064,
        "accent-1":    #84ffff,
        "accent-2":    #18ffff,
        "accent-3":    #00e5ff,
        "accent-4":    #00b8d4
);

$color-success: (
        "lighten-5":  #E8F5E9,
        "lighten-4":  #C8E6C9,
        "lighten-3":  #A5D6A7,
        "lighten-2":  #81C784,
        "lighten-1":  #66BB6A,
        "base":       #4CAF50,
        "darken-1":   #43A047,
        "darken-2":   #388E3C,
        "darken-3":   #2E7D32,
        "darken-4":   #1B5E20,
        "accent-1":    #B9F6CA,
        "accent-2":    #69F0AE,
        "accent-3":    #00E676,
        "accent-4":    #00C853
);

$colors: (
        "color-brand": $color-brand,
        "color-secondary": $color-secondary,
        "color-warning": $color-warning,
        "color-danger": $color-danger,
        "color-info": $color-info,
        "color-success": $color-success
);

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)
@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}